
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    body {
       
        background-color: #fdfdfd;
        color: #333;
        padding: 20px;
        overflow-x: hidden;
    }


    nav {
        background-color: #dac3d1;
        padding: 20px;
        

    }

    nav ul {
        display: flex;
    }
    nav a {
        text-decoration: none;
        color: rgb(62, 62, 203);
        font-size: 30px;
        font-weight: bold;
        margin-left: 200px; 
        
    }

head h1{
    margin-left: 500px;
    }

    header {
        text-align: center;
        margin: 50px 0;
        margin-top: 100px;
    }



    header button {
        
        background-color: #03d3da;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .collection {
        margin: 20px 0;
        padding: 20px;
        border: 1px solid #ccc;

    }
    .section h1{
        margin-left: 40%;
        margin-top: 20px; 
       
    }
    

    .details {
        
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

    .product img {
        height: 200px;
        width: 1000px;
        padding: 20px;
        background-color: #eee;
        grid-template-rows: 100px;
        border-radius: 50px;

    }

        .size{
        width: 75px;
        }

        .one:hover {
            transform: scale(1.02);
        }
        
    .contact-btn a{
    text-decoration: none;
    color: white;
  }
  .section1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:40px;
    margin-top: 50px; 
    }
    .section1 img{
        height: 700px;
        width: 500px;
        padding: 20px;
        background-color: #eee;
        grid-template-rows: 100px;
        border-radius: 50px;

    }

        .size{
        width: 75px;
        }

        .one:hover {
            transform: scale(1.02);
        }
  .contact-btn a{
    text-decoration: none;
    color: white;
  }
  .section1 a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 20px;
   text-align: center;

  }

 

